.reveal .sourceCode.r .kw, .sourceCode.r .er {
  color:inherit;
  font-weight: normal;
}
.reveal .sourceCode.r .co {
  font-style: normal;
}

.reveal .slides {
  text-align: inherit;
}

.reveal .slide.level2 h1 {
  font-size: 48px;
}

.reveal pre code {
  font-size: 20px;
  line-height: 1.3;
}